body {
	background-color: #196084
}

.content-page{
	text-align: center;
	background-color: white;	
	margin-left: 10%;
	width: 80%;	
}

.top{
	display: inline-block;
	margin-top: 15px;	
	border-radius: 10px 10px 0px 0px;
}

.main{
	display: inline-block;
}

.footer{
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}

.right{
	float: right;
	text-align: right;
	padding-right: 10%;
}

.left{
	float: left;
	text-align: left;
	padding-left: 10%;
}

.header{
	display: inline-block;
	background-color: #37a2c6;
	width: 90%;
	margin-left: 5%;
	height: 250px;
	border-radius: 10px;	
}

.navigation{	
	margin-top: 20px;
	margin-left: 100px;
	background-color:  white;
	height: 200px;
}

.navigation ul{
	margin-top: 0px;
	list-style-type: none;
}

.navigation li{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 10px;
	width: 100px;
}

.nav-links{
	text-decoration: none;
	color: black;
}

.navigation li:hover{
	background-color: #37a2c6;
}

#Email{
	display: inline;	
}

#Email-Link{
	text-decoration: none;
	color: #37a2c6;
}

#Contact{
	display: inline;
}

#Logo{
	width: 250px;
	padding: 20px;
	margin-right: 100px;
}
